:root {
  --color-primary: #16c6cc;
  --color-primary-hover: #13adb3;
  --color-secondary: #7ce0e4;
  --color-thirty: #58c3db;

  --color-black-primary: #000000;
  --color-black-secondary: #111111;
  --color-black-thirty: #111111;

  --color-white-primary: #ffffff;

  --color-green-primary: #15ff00;

  --color-red-primary: #ff0000;

  --color-background: #f8fafc;
}

.dark {
  --color-background: #0f172a;
}
