:root {
  --color-primary: #16c6cc;
  --color-primary-hover: #13adb3;
  --color-secondary: #7CE0E4;
  --color-thirty: #58C3DB;

  --color-black-primary: #000000;
  --color-black-secondary: #111111;
  --color-black-thirty: #111111;
  --color-black-fourth: #1A1A1A;

  --color-white-primary: #FFFFFF;

  --color-gray-primary: #F6F3F3;
  --color-gray-secondary: #D9D9D9;
  --color-gray-thirty: #EBEBEB;

  --color-green-primary: #15FF00;
  --color-green-secondary: #16d304;

  --color-red-primary: #FF0000;
  
  --color-background: #f8fafc;
}

.dark {
  --color-background: #0f172a;
}